body {
  background-color: lightgrey;
}

.border {
    border: solid 2px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    height: 150px;
    max-height: 225px;
}

.on-click {
  border: solid 10px;
  margin: 10px 0px 10px 0px;
  padding: 5px;
  height: 150px;
  max-height: 225px;
  background-color: lightblue;
}